*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #fff;
    /* background: red; */
    background: url('../img/Model-3-Main-Hero-Desktop-LHD.jpg') no-repeat center center/cover ;
}
#page1{
   
    min-height: 88vh;
    min-width: 100vw;
}

/* Fonts */

@font-face {
    font-family: teslaFont;
    src: url('TESLA.ttf');
  }
/* main styling */
a {
    display: block;
    text-decoration: none;
    padding: 15px ;
    font-family: 'Gotham SSm', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
/* Navbar */
/* #msg{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 10px 0px 10px 0px;
    background: rgb(235, 232, 232);
    color: #333;
    position: fixed;
    top: 0;
    
}

#msg p{
    display: inline;
    font-family: 'Gotham SSm', sans-serif;
    
}
#msg a{
    text-decoration: underline;
    display: inline;
    color: #333;
} */
#navbar{
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0.25vh 1vw;
    margin: 0;
    padding: 1rem;
    padding-top: 0;
    width: 100%;
    position: fixed;
}

#navbar section{
    width: fit-content;
    text-align: center;
    align-items: center;
    padding-top: 0.75rem;
    animation-name: animate2;
    animation-duration: 1s ;
}

@keyframes animate2{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#navbar a{
    display: block;
    text-decoration: none;
    padding: 15px ;
    font-family: 'Gotham SSm', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    
}

#navbar h3{
    text-decoration: none;
    font-family: teslaFont;
    color: #fff; 
    text-align: left;
    letter-spacing: 0.2rem;
    font-weight: 100;
    
}
#navbar h3:hover{
    cursor: pointer;
}
#midnav{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    text-align: center !important; 
    align-items: center !important;
    flex-shrink: 0;
}

#navbar ul{
    list-style: none;
    padding-right: 2rem;
    
}

#navbar ul li{
    float: left;
    
    
}
#navbar ul li :hover{
    background-color: rgb(18, 17, 17);
    opacity: 0.5;
    width: fit-content;
    height: fit-content;
    
    
}

/* Sched */

#sched{
    clear: both;
    font-family: 'Gotham SSm', sans-serif ;
    color: #fff;
    position: relative;
    top: 15vh;
    margin: 144.64px, 0px 0px;
    margin: auto;
    text-align: center;
    /* padding-top: 18vh; */
    width: fit-content;
    animation-name: animate1;
    animation-duration: 1s ;

}

@keyframes animate1{
   from{
    opacity: 0;
    top: 19vh;
   }
    to{
        opacity: 1;
        top: 15vh;
    }
}

#sched h1{
    font-size: 40px;
}

#sched a{
    font-size: 1rem;
    text-decoration: underline;
}

.clr{
    clear: both;
}
/* #sidebtn{
    padding-left: 20px;
    margin-top: 0vh;
    
} */
#side-btns{
    position: fixed;
    top: 28vh;
}
.current1{
    background: #fff;
}
.current2{
    background: #333;
}
#btn1, #btn2, #btn3, #btn4,
#btn5, #btn6, #btn7, #btn8, #btn9{
    width: 1px;
    height: 35px;
    display: block;
    opacity: 0.5;
    margin: 2px;
}


.btn{
    display: inline;
    opacity: 0.5;
    width: 2px;
    margin-left: 20px;
    
}
.btn button{
    height: 30px;
    margin-top: 5px;
    
}
.btn button:hover{
    color: #fff;
    cursor: pointer;
    opacity: 1;
    
}

.hide { 
    display: none ;
}
.btn:hover{
    cursor: pointer;
    opacity: 1;
}
.btn:hover + .hide {
    margin:3px;
    cursor: pointer;
    display: inline;
    color: #fff;
    
}

/* footer #ameter ,footer #mi, footer #awd, footer #buy-now{
    display: inline;  
} */
/* #footer-holder{
    width: 500px;
} */
footer{
    width: 80%;
    background: transparent;
    /* padding: 20px; */
    position: relative;
    bottom: 1rem;
    margin: auto;
    text-align: center;
    overflow: auto;
    box-sizing: border-box;
    animation-name: animate-footer;
    animation-duration: 1s;
}

@keyframes animate-footer{
    from{
     opacity: 0;
     bottom: -3rem;
    }
     to{
         opacity: 1;
         bottom: 1rem;
     }
 }

footer ul{
   width: 1000px;
    list-style: none;
    margin: auto;
    text-align: center;
    padding: 20px;
    
}

footer ul li{
    width: 200px;
    float: left;
    margin: auto;
    text-align: center;
    padding: 0px 10px;
}

footer button{
    width: 200px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 5px;
    background: transparent;
    font-family: 'Gotham SSm', sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}


footer button:hover{
    background: #fff;
    color: #333;
    
}


#chat{
    
    width: 70px;
    height: 70px;
    clear: both;
    float: right;
    bottom: 0;
    right: 0;
    margin: 50px;
    border-radius: 50px;
    border-style: none;
    position: fixed;
    
}

#chat:hover{
    cursor: pointer;
}

/* Popup form */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    border-radius: 15px;
    z-index: 9;
    background: #fff;
  }

  .form-container {
    width: 400px;
    height: 500px;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: transparent;
    color: #333;
  }

  .form-container .form-btn {
    background-color: transparent;
    width: 100%;
    height: 50px;
    margin: auto;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom:10px;
    font-weight: 600;
    color: #333;
  }

  .form-container .btn:hover{
    cursor: pointer;
  }

  #form-header{
    width: 90%;
    margin: auto;
    padding-left: 10%;
    text-align: center;
    display: inline;
    float: left;
   
  }
  
  #cxl{
    width: 30%;
    float: left;
    width: fit-content;
    
    text-align: right;
  }

  #cxl:hover{
    cursor: pointer;
  }
  
  #what{
    clear: both;
    margin-top: 60px;
  }

  #tell-us{
    margin: 20px;
    color: #333;
  }


  